<h1>Articles Show</h1>

Title: <%= @article.title %>
<br>
Body: <%= @article.body %>
<br>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>

